{% extends 'base.html' %}

{% block content %}

<head>
    <title>Moje Sklepy</title>
</head>
<body>
    <h1>Moje Sklepy</h1>
    <ul>
        {% for workshop in workshops %}
            <li>{{ workshop.name }} (NIP: {{ workshop.nip }}, REGON: {{ workshop.regon }}, Data utworzenia: {{workshop.create_at}})</li>
            {% if request.user.is_authenticated and request.user == workshop.user %}
            <p>
                <a href="{% url 'workshop_edit' workshop.id %}">Edit</a>
                <a href="{% url 'workshop_delete' workshop.id %}">Delete</a>
            </p>
        {% empty %}
            <li>Nie masz jeszcze żadnych sklepów.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'workshop_create' %}">Dodaj nowy sklep</a>
</body>
{% endblock %}