{% extends 'index.html' %}

{% block content %}
<div class="row">
    {% for workshop in workshops %}
    <div class="col-md-12">
        <div class="card mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{{ workshop.name }}</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink{{ workshop.id }}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink{{ workshop.id }}">
                        <div class="dropdown-header">Options:</div>
                        <a class="dropdown-item" href="{% url 'workshop_edit' workshop.id %}">Edit</a>
                        <a class="dropdown-item" href="{% url 'workshop_delete' workshop.id %}">Delete</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="col-md-12 mb-4">
                <div class="row align-items-center">
                    {% if workshop.avatar %}
                    <div class="col-md-2 text-center">
                        <img src="{{ workshop.avatar.url }}" alt="{{ workshop.name }}"
                             class="img-fluid rounded-circle"
                             style="width: 100px; height: 100px; object-fit: cover;">
                    </div>
                    {% endif %}
                    <div class="col-md-5 text-center">
                        <p>NIP: {{ workshop.nip }}</p>
                        <p>REGON: {{ workshop.regon }}</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <p>Address: {{ workshop.address }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-md-12">
        <div class="alert alert-warning text-center">
            You don't have any workshops yet.
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
